h1{
  text-align: center;
}
.nav-link{
  padding: 10px;
  border-radius: 5px;
}
.nav-link.active{
  background: var(--bs-primary-bg-subtle);
}

.profile{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: flex-start;
}


.profile img{
  width:100px;
}

.hidden{
  display: none;
}
.info{
  display: flex;
  gap:10px;
  align-items: center;
}